body {
  background-color: lightblue;
}

.home {
  font-size: 25px;
  border: 8px double black;
}

table, th, td {
  border: 2px solid black;
  font-size: 18px;
  text-align: center;
}

ul {
  font-size: 18px;
}

p {
  font-size: 18px;
}

dt {
  font-weight: bold;
}

dl {
  font-size: 18px;
}
