body {
  background-color: lightblue;
}

table {
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
}

ul {
  font-size: 18px;
}

p {
  font-size: 18px;
}

dt {
  font-weight: bold;
}

dl {
  font-size: 18px;
}
